<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_admin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_admin"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSFCAdminApp"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.GSFCAdminApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddingContactsActivity"
            android:exported="false"
            android:label="Add Contact" />
        <activity
            android:name=".AddingVoteActivity"
            android:exported="false"
            android:label="Add Vote Session" />
        <activity
            android:name=".AddingPolicyActivity"
            android:exported="false"
            android:label="Add Documents" />
        <activity
            android:name=".AddingAnnouncementActivity"
            android:exported="false"
            android:label="Add Announcement" />
        <activity
            android:name=".AddingUserActivity"
            android:exported="false"
            android:label="Add User Profile" />
        <activity
            android:name=".ui.home.EditUserActivity"
            android:exported="false"
            android:label="Edit User Profile" /> <!-- Declare MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.GSFCAdminApp.NoActionBar" /> <!-- Declare LoginActivity as the launcher activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.GSFCAdminApp.NoActionBar">
        </activity>
    </application>

</manifest>